.topbar-topbar {
  flex: 1;
  height: 10%;
  position: static;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.topbar-navlink {
  display: contents;
}
.topbar-title {
  top: 19px;
  fill: var(--dl-color-theme-secondary1);
  left: 11px;
  color: var(--dl-color-theme-secondary1);
  position: absolute;
  align-self: flex-start;
  text-decoration: none;
}
.topbar-image {
  height: 50%;
  object-fit: cover;
}
