.topbar-topbar {
  width: 100%;
  height: 86px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.topbar-navlink {
  display: contents;
}
.topbar-title {
  top: 19px;
  fill: var(--dl-color-theme-secondary1);
  left: 11px;
  color: var(--dl-color-theme-secondary1);
  position: absolute;
  align-self: flex-start;
  text-decoration: none;
}
.topbar-image {
  width: 10%;
  object-fit: cover;
  margin-right: 3vw;
}
.topbar-root-class-name {
  top: 0px;
  flex: 1;
  left: 0px;
  height: 10%;
  position: static;
}
.topbar-root-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name2 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.topbar-root-class-name4 {
  top: 0px;
  left: 0px;
  position: absolute;
}
